__MACOSX
__pycache__
.vscode
.DS_Store
.ipynb_checkpoints
.asv
modelisation_physique/figures/
Untitled 09.44.03.ipynb
modelisation_physique/modal_solveur_python.py
modelisation_physique/modal_solveur_python.py
