p{
    font-family: 'Raleway', sans-serif;
}

h1{
    font-family: 'Raleway', sans-serif;
}

h2{
    font-family: 'Raleway', sans-serif;
}

h3{
    font-family: 'Raleway', sans-serif;
}

h4{
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #ededed;
}

.container {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }